* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Alegreya Sans Regular' ;
    font-family: 'Alegreya Sans Bold';
    src: url(fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf);
    src: url(fonts/Alegreya_Sans/AlegreyaSans-Bold.ttf)
}

body {
    color: #7fff00; /* ufo-green */
    background-image: url("images/mink-mingle-NORa8-4ohA0-unsplash.jpg");
    background-position: fixed;
    background-size:cover;
    font-family: 'Alegreya Sans Regular';
    margin: 2.5rem;
}

/* the selector makes the highlighted text green on a pink background*/
::selection {
  color:  #7fff00;
  background: #ff1493;
  
}

/* apply text shadow to the page's largest heading*/
h1 {
    color: #ff1493; /* plastic pink */
    position:relative;
    font-size: 10rem;
    padding-top: 2rem;
    text-align: center;;
    font-family:'Alegreya Sans Regular';
    text-shadow: 3px 3px 5px #7fff00, /* offset-x, offset-y, blur-radius is small and sharp, color ufo-green */
                 8px 8px 0px #8a2be2, /* no blur, proton-purple */
                 12px 12px 12px #f700ff; /* bigger and softer blur, violet*/
}

/* apply dotted style to the horizontal line */
.dotted-line {
    border: 2px dotted #8a2be2 ;
    margin-top: 1.25rem;
    margin-bottom: 3.125rem;
}


/* the introduction of assignment and student name */
#child1 {
  position: absolute;
}

#child2 {
    position: absolute;
    top: 1.25rem;
    right: 2.5rem;
    color: violet;
    text-align:end;
    padding-top: 20px;
}


h3 {
    color: #f700ff; /*violet*/
    font-family: 'Alegreya Sans Bold';
}

/* Speech bubbles */
/* To have different colors on the background and the directional triangle 
of the question bubbles and the answer bubbles, I duplicated the speech class*/
.left.speech {
    font-size: 1.1rem;
    color: #010101;
    background: #7fff00;
    position: relative;
    padding: 1rem;
    border-radius: 10px;
    margin: 3rem auto;
    max-width: 420px;
    box-shadow: #2bb60fad -9px 9px 15px;
    
  }

  .left.speech::after {
    /* stick the triangle to the left border */
    content: "";
    border: 20px solid transparent;
    position: absolute;
    /* left triangle */
    border-right-color: #7fff00;
    border-left: 0;
    left: -20px; top: 50%;
    margin-top: -20px;
  }
 
  
  .right.speech {
    font-size: 1.1rem;
    color: #fff;
    background: violet;
    position: relative;
    padding: 1rem;
    border-radius: 10px;
    margin: 3rem auto;
    max-width: 500px;
    border-style: dashed;
    border-color: aqua;
    box-shadow: #ff1493 9px 9px 15px;
 }

  .right.speech::after {
    content: "";
    border: 20px solid transparent;
    position: absolute;
    /* right triangle */
    border-left-color: violet;
    border-right: 0;
    right: -20px; top: 50%;
    margin-top: -20px;
  }
  
.references {
  font-size: 1.1rem;
  display: flex;
  flex-direction:column;
  text-align: left;
  margin: 10px;
}

#section-title{
  font-family: 'Alegreya Sans Bold';
  font-size:larger;

}

  .bottom-page {
    float: right;
  }

