*{
    box-sizing: border-box; /* every box's width will include border*/
    margin: 0; /* reset everything to default 0 */
}

:root {
    --col01: rgb(0,0,0); /*custom variable -- */
    --col02: rgb(250, 153, 227);
    --col03: rgb(19, 0, 127);
    --col04: rgb(240,240,240);
    --col05: rgb(255, 235, 205);
    --col06: rgb(229, 89, 89);
    --border: solid 4px var(--col01); /* type --, select the custom varriables, then it will show var(--name)*/
}

h1 {
    color:var(--col02);
    margin: 1rem;
}

h3 {
    margin: 1rem;
    background-image: linear-gradient(to right, var(--col02), var(--col03)); 
    text-align: center;
    color: var(--col04)
}

.hera-page25-FlexWrapper {
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}

#row-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display:flex;
    justify-content: space-around;  
}


#row-2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display:flex;
    justify-content: space-around;
}

#row-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display:flex;
    justify-content: space-around;
}

#row-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display:flex;
    justify-content: space-around;
}

#row-5 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display:flex;
    justify-content: space-around;
}

#row-6 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display:flex;
    justify-content: space-around;
}

#row-7 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display:flex;
    justify-content: space-around;
}

/* create squares */
.Column-1 {
    margin:auto;
    height: 10rem;
    width: 10rem;
    background-color: var(--col05);
}

.Column-2 {
    margin: auto;
    height: 10rem;
    width: 10rem;
    background-color: var(--col05);
}

.Column-3 {
    margin: auto;
    height: 10rem;
    width: 10rem;
    background-color: var(--col05);
}

.Column-4 {
    margin: auto;
    height: 10rem;
    width: 10rem;
    background-color: var(--col05);
}

.Column-5 {
    margin: auto;
    height: 10rem;
    width: 10rem;
    background-color: var(--col05);
}

/* Add Style to Borders */
.Border-Style {
    border: var(--border)
}

/* Add Radius to Border */
.Border-Radius {
    border-radius: 50%;
}

#A1 {
    border-right-style: none;
    border-bottom-style: none;
    background-color: var(--col06);
}

#A2 {
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

#A3 {
    border-left-style: none;
    border-bottom-style: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#A4 {
    border-right-style: none;
    border-bottom-style: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: var(--col06);
}

#A5 {
    border-left-style: none;
    border-bottom-style: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--col06);
}

#B1 {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

#B2 {
    border-style:none;
    background-color: var(--col06);
}

#B3 {
    border-top-style: none;
    border-left-style: none;
    border-bottom-style: none;
}

#B4 {
    border-top-style: none;
    border-bottom-style: none;
    background-color: var(--col06);
}

#B5 {
    border-top-style: none;
    border-bottom-style: none;
    background-color: var(--col06);
}

#C1 {
    border-top-style: none;
    border-bottom-style: none;
    border-right-style: none;
}

#C2 {
    border-style: none;
}

#C3 {
    border-top-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

#C4 {
    border-top-style: none;
    border-bottom-style: none;
    background-color: var(--col06);
}

#C5 {
    border-top-style: none;
    border-bottom-style: none;
    background-color: var(--col06);
}

#D1 {
    border-top-style: none;
    border-right-style: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#D2 {
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
}

#D3 {
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    background-color: var(--col06);
}

#D4 {
    border-top-style: none;
    border-left-style: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: var(--col06);
}

#D5 {
    border-top-style: none;
    border-bottom-style: none;
    background-color: var(--col06);
}

#E1 {
    border-bottom-style: none;
    border-right-style: none;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--col06);
}

#E2 {
    border-bottom-style: none;
    border-left-style: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--col06);
}

#E3 {
    border-bottom-style: none;
    border-right-style: none;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; 
    background-color: var(--col06);
}

#E4 {
    border-left-style: none;
    border-right-style: none;
    background-color: var(--col06);
}

#E5 {
    border-top-style: none;
    border-left-style: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: var(--col06);
    
}

#F1 {
    border-top-style: none;
    border-bottom-style: none;
    background-color: var(--col06);
}

#F2 {
    border-top-style: none;
    border-right-style: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--col06);
}


#F3 {
    border-top-style: none;
    border-left-style: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: var(--col06);
}

#F4 {
    border-bottom-style: none;
    border-right-style: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: var(--col06);
}

#F5 {
    border-bottom-style: none;
    border-left-style: none;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#G1 {
    border-top-style: none;
    border-right-style: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#G2 {
    border-left-style: none;
    border-right-style: none;
    background-color: var(--col06);
}

#G3 {
    border-left-style: none;
    border-right-style: none;
    background-color: var(--col06);
}

#G4 {
    border-top-style: none;
    border-left-style: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: var(--col06);
}

#G5 {
    border-top-style: none;
    border-right-style: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--col06);
}